{{ define "main" }}
<div class="page-content">
  <h1>{{ .Title }}</h1>
  {{ if .Date }}<time>{{ .Date.Format "January 2, 2006" }}</time>{{ end }}
  <div class="content">{{ .Content }}</div>
  {{ if .Pages }}
  <ul class="page-list">
    {{ range .Pages }}
    <li>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      {{ if .Date }}<time>{{ .Date.Format "January 2, 2006" }}</time>{{ end }}
      {{ if .Summary }}<p>{{ .Summary | truncate 200 }}</p>{{ end }}
    </li>
    {{ end }}
  </ul>
  {{ end }}
</div>
{{ end }}
